.custom-btn{
    background: #fff;
    color: red;
    border: 2px solid red;
    border-radius: 3px;
    padding: 5px 10px;
    text-transform: uppercase;
}
.navlink-class{
        color: gery;
    
    
    padding: 5px 10px;
    
}
.allignright{
position: absolute;
  right: 20px;
}